@page "~/Sobre"
@model MyRazorApp.Pages.AboutModel
@* @{
    Layout = null;
} *@

@{
    ViewData["Title"] = "Sobre";
}
<h1>Sobre</h1>

@* <script src="~/js/site.js"></script> *@
@section scripts{
    <script src="~/js/site.js"></script>
}


