@page "~/categorias/{skip?}/{take?}"
@model MyRazorApp.Pages.CategoriesModel
@{
}

@{
    ViewData["Title"] = "Categorias";
}

<div>Categorias</div>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Title''</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var category in Model.Categories)
        {
            <tr>
                <td>@category.Id</td>
                <td>@category.Title</td>
                <td>@category.Price.ToString("C", new CultureInfo("pt-BR"))</td>
            </tr>
        }
    </tbody>
</table>