@page "~/Entrar"
@model MyRazorApp.Pages.LoginModel
@{
    Layout = "Shared/_LayoutDois";
}
@{
    ViewData["Title"] = "Entrar";
}

@* <html>
<head>
    <title>
    </title>
</head>
<body> *@
    @* <partial name="Shared/NavMenuPartial"></partial> *@
    <div>Login</div>
@* </body>
</html> *@
